<div class="hero">
    <div class="hero-content">
        <h2>Rendelj, dőlj hátra, és az <br>asztalodon biztos lesz kaja!</h2>
        
        <div class="hero-content-rendeles">
            <p>Hova szállíthatjuk?</p>
            <div>
                <div>
                    <p>A településed, utcád és házszámod</p>
                </div>
                <button>Rendelek</button>
            </div>

        </div>
    </div>
</div>
<div class="mit-ennel">
    <h2>Mit ennél most?</h2>
    <div class="mit-ennel-boxes">
        <div class="mit-ennel-box">
            <div class="cover">
                <p>Szaftos hamburgerek</p>
            </div>
        </div>
        <div class="mit-ennel-box">
            <div class="cover">
                <p>Szaftos hamburgerek</p>
            </div>
        </div>
        <div class="mit-ennel-box">
            <div class="cover">
                <p>Szaftos hamburgerek</p>
            </div>
        </div>
    </div>
</div>

<div class="mi-lesszkaja">
    <img src="../../assets/images/hamburger.svg" alt="" class="bg-img">
    <div class="mi-lesszkaja-content">
        <h4>Hogy mi is a LesszKaja?</h4>
        <h3>A kedenc étel kiszállító szolgáltatásod</h3>
        <p>A LesszKaja lehetőséget nyújt, hogy gyorsan és könnyedén felfedezhesd a közeledben található éttermeket és üzleteket. Kedvező áraink és villámgyors futáraink révén célunk, hogy a rendelés élményét egyszerűbbé és élvezetesebbé tegyük számodra!</p>
    </div>
    <img src="../../assets/images/mi-a-lesszkaja.svg" alt="">
</div>