<div class="hero">
    <div class="hero-content">
        <h2>Rendelj, dőlj hátra, és az asztalodon biztos lesz kaja!</h2>
        <a routerLink="/restaurants">Rendelek</a>

    </div>
</div>
<div class="mit-ennel">
    <h2>Mit ennél most?</h2>
    <div class="mit-ennel-boxes">
        <div class="mit-ennel-box">
            <div class="cover">
                <p>Szaftos hamburgerek</p>
            </div>
        </div>
        <div class="mit-ennel-box">
            <div class="cover">
                <p>Szaftos hamburgerek</p>
            </div>
        </div>
        <div class="mit-ennel-box">
            <div class="cover">
                <p>Szaftos hamburgerek</p>
            </div>
        </div>
    </div>
</div>

<div class="mi-lesszkaja">
    <div class="mi-lesszkaja-content">
        <h4>Hogy mi is a LesszKaja?</h4>
        <h3>A kedenc étel kiszállító szolgáltatásod</h3>
        <p>A LesszKaja lehetőséget nyújt, hogy gyorsan és könnyedén felfedezhesd a közeledben található éttermeket és üzleteket. Kedvező áraink és villámgyors futáraink révén célunk, hogy a rendelés élményét egyszerűbbé és élvezetesebbé tegyük számodra!</p>
    </div>
    <img src="../../assets/images/mi-a-lesszkaja.svg" alt="">
</div>

<div class="gondoltad-volna">
    <div class="gondoltad-volna-text">
        <h2>Gondoltad volna?</h2>
        <p>Ha nálunk rendeled a céges vacsorát, garantáltan <span>javulni fog a munkamorál</span> a következő hónapban!</p>
    </div>
</div>

<footer>
    <div class="social-icons">
        <img src="../../assets/images/instagram-icon.svg" alt="">
        <img src="../../assets/images/facebook-icon.svg" alt="">
        <img src="../../assets/images/tiktok-icon.svg" alt="">
    </div>
    <p>Copyright © 2024 LesszKaja Minden jog fenntartva</p>
    <p>ÁSZF | Adavédelmi szabályzat</p>
</footer>