<div class="restaurantlist-cover">
    <div class="cover">
        <h1>Éttermek keresése</h1>
    </div>

</div>
<div class="restaurantlist-before-container">
    <h3>Népszerű éttermek</h3>
    <div class="search-bar">
        <form (ngSubmit)="search()">
            <input type="text" [(ngModel)]="searchValue" name="search" required>
            <button>
                <img src="../../assets/images/Search.svg" alt="">
            </button>
        </form>
    </div>

</div>


<app-list [show]="shownEttermek"></app-list>