<div class="restaurantlist-cover">
    <div class="cover">
        <h1>Éttermek keresése</h1>
    </div>

</div>
<div class="restaurantlist-before-container">
    <h3>Népszerű éttermek</h3>
    <div class="search-bar">
        <form action="">
            <input type="text">
            <button>
                <img src="../../assets/images/Search.svg" alt="">
            </button>
        </form>
    </div>

</div>

<div class="restaurantlist-container">


    <div *ngFor="let item of ettermekArray"  [routerLink]="item.route">
        <img src="../../assets/images/mcdonalds.png" alt="">
        <div class="restaurantlist-container-text">
            <h5>{{ item.nev }}</h5>
            <p>Burger, Shake</p>
        </div>

    </div>
</div>
