<div class="restaurantlist-cover">
    <div class="cover">
        <h1>Éttermek keresése</h1>
    </div>

</div>
<div class="restaurantlist-before-container">
    <h3>Népszerű éttermek</h3>
    <div class="search-bar">
        <form action="">
            <input type="text">
            <button>
                <img src="../../assets/images/Search.svg" alt="">
            </button>
        </form>
    </div>

</div>

<div class="restaurantlist-container">
    <app-list [show]="shownEttermek"></app-list>
</div>
