.restaurantlist-cover {
    background-image: url('../../assets/images/restaurant-listing.png');
    height: 300px;
    background-position: center;
    background-size: cover;

    .cover {
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0.17) 41.37%, #000 100%);
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        padding-left: 10%;
    
        h1 {
            color: var(--Light, #FAF9F5);

            /* H2 */
            font-family: 'Gluten';
            font-size: 49px;
            font-style: normal;
            font-weight: 300;
            line-height: 120%; /* 58.8px */
        }
    }

    box-shadow: 0px 2px 22px -3px rgba(0, 0, 0, 0.75);

}

.restaurantlist-before-container {
    display: flex;
    width: 70%;
    margin: 24px auto 0 auto;
    justify-content: space-between;
    h3 {
        color: #000;

        /* Big normal */
        font-family: "Maven Pro";
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 30px */
    }

    .search-bar {
        background: #FFFFFF;
        box-shadow: 0px 2px 8px -3px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        min-width: 30%;
        transition: .3s;
        
        &>form {
            display: flex;
            
            input {
                width: 100%;
                border: none;
                padding-block: 12px;
                margin-left: 8px;

                &:focus {
                    outline: none;
                }

            }

            button {
                background: none;
                border: none;
                margin-right: 8px;
                cursor: pointer;
            }
        
        }

        &:focus-within {
            box-shadow: 0px 4px 16px -3px rgba(0, 0, 0, 0.3);
            transition: .3;
        }
    }

}

.restaurantlist-container {
    width: 80%;
    margin: 48px auto 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;


    &>div {
        transition: .2s;

        &:hover {
            transform: scale(1.1);
            transition: .2s;
            box-shadow: 0px 2px 22px -3px rgba(0, 0, 0, 0.55);
            z-index: 8;
        }
    

        img {
            border-radius: 4px 4px 0 0;
        }

        background: #FFFFFF;
        cursor: pointer;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 2px 22px -3px rgba(0, 0, 0, 0.15);
        z-index: 1;

        h5 {
            color: var(--Dark, #313638);

            /* Normal */
            font-family: "Maven Pro";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 19.2px */
        }

        p {
            color: var(--Light-accent);

            /* Tiny normal */
            font-family: "Maven Pro";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 12px */
            opacity: .7;
        }

        .restaurantlist-container-text {
            margin-inline: 16px;
            padding-block: 8px;
        }

    }

}