<!--<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
  <div>
    <label for="username">Felhasználónév:</label>
    <input type="text" id="username" formControlName="felhasznalonev">
    <div *ngIf="userForm.controls['felhasznalonev'].invalid && (userForm.controls['felhasznalonev'].touched || userForm.controls['felhasznalonev'].dirty || isFormSubmitted)" class="alert alert-danger">
      <span *ngIf="userForm.controls['felhasznalonev'].errors?.['required'] || userForm.controls['felhasznalonev'].errors?.['name']">Ez a mező kötelező!</span>
    </div>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
    <div *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].touched || userForm.controls['email'].dirty || isFormSubmitted)" class="alert alert-danger">
      <span *ngIf="userForm.controls['email'].errors?.['required']">Ez a mező kötelező!</span>
      <span *ngIf="!userForm.controls['email'].errors?.['required'] && userForm.controls['email'].errors?.['strictEmail']">Helytelen email!</span>
    </div>
  </div>
  <div>
    <label for="tel">Tel:</label>
    <input type="tel" id="tel" formControlName="tel">
    <div *ngIf="userForm.controls['tel'].invalid && (userForm.controls['tel'].touched || userForm.controls['tel'].dirty || isFormSubmitted)" class="alert alert-danger">
      <span *ngIf="userForm.controls['tel'].errors?.['required']">Ez a mező kötelező!</span>
      <span *ngIf="!userForm.controls['tel'].errors?.['required']&&userForm.controls['tel'].errors?.['phone']">Helytelen telefonszám!</span>
    </div>
  </div>
  <div>
    <label for="address">Lakcim:</label>
    <input type="text" id="address" formControlName="lakcim">
    <div *ngIf="userForm.controls['lakcim'].invalid && (userForm.controls['lakcim'].touched || userForm.controls['lakcim'].dirty || isFormSubmitted)" class="alert alert-danger">
      <span *ngIf="userForm.controls['lakcim'].errors?.['required'] || userForm.controls['lakcim'].errors?.['text']">Ez a mező kötelező!</span>
    </div>
  </div>
  <div>
    <label for="password">Jelszó:</label>
    <input type="password" id="password" formControlName="jelszo">
    <div *ngIf="userForm.controls['jelszo'].invalid && (userForm.controls['jelszo'].touched || userForm.controls['jelszo'].dirty || isFormSubmitted)" class="alert alert-danger">
      <span *ngIf="userForm.controls['jelszo'].errors?.['required']">Ez a mező kötelező!</span>
      <span *ngIf="!userForm.controls['jelszo'].errors?.['required']&&userForm.controls['jelszo'].errors?.['password']">Túl rövid jelszó!</span>
    </div>
  </div>

  <button type="submit" [disabled]="userForm.invalid">Register</button>
</form>-->
<p>Registerothers works!</p>
