<div class="login-container">
  <div class="login-content">
    <div class="login-container-text">
      <h1>Bejelentkezés</h1>
      <p>Még a Holdra is szállítunk</p>
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="login-input-container">
        <img src="../../../../assets/images/email-icon.svg" alt="Email ikon">
        <input type="email" id="email" name="email" placeholder="Email" ngModel required>
      </div>
      <div class="login-input-container">
        <img src="../../../../assets/images/password-icon.svg" alt="Jelszó ikon">
        <input type="password" id="password" name="password" placeholder="Jelszó" ngModel required>
      </div>
      <button type="submit" [disabled]="!loginForm.form.valid">Bejelentkezés</button>
      <span class="hiba" *ngIf="suspended && formSubmitted">Fel van függesztve!</span>
      <span class="hiba" *ngIf="!validData && !suspended && formSubmitted">Helytelen adatok!</span>
    </form>
    <div class="login-container-text-2">
      <p><span>Jelentkezz</span> be máshogy</p>
      <a routerLink="/loginrestaurant">Bejelentkezés <span>étteremként</span></a>
      <a routerLink="/logincourier">Bejelentkezés <span>futárként</span></a>
    </div>
  </div>
  <img class="login-img" src="../../../../assets/images/login-img.png" alt="">
</div>
