<p>admin works!</p>
<ul>
  <li>
    <a routerLink="/admin/registerusers">Felhasználó regisztrálása</a>
  </li>
  <li>
    <a routerLink="/admin/registercouriers">Futár regisztrálása</a>
  </li>
  <li>
    <a routerLink="/admin/registerrestaurants">Étterem regisztrálása</a>
  </li>
  <br>
  <li>
    <a routerLink="/admin/modifyusers">Felhasználó módosítása</a>
  </li>
  <li>
    <a routerLink="/admin/modifycouriers">Futár módosítása</a>
  </li>
  <li>
    <a routerLink="/admin/modifyrestaurants">Étterem módosítása</a>
  </li>
</ul>
