<!-- <div>
    <h2>{{termekData.nev}}</h2>
    <p>Itt csak a nem 0 árral rendelkező összetevők jelennek meg!</p>
    <div *ngFor="let item of extraArray | keyvalue">
        <input [checked]="item.value" type="checkbox" (change)="changeChoice(item.key)">{{item.key}}
    </div>
    <br>
    <input type="button" (click)="addToCart()" value="Kosárba">
    <p *ngIf="alreadyExists">Ilyen már van a kosárban!</p>
</div> -->

<div class="item-container">
    <h2>{{ termekData.nev }}</h2>
    <p>{{baseArray.join(", ")}}</p>
    <div class="extras">
      <div *ngFor="let item of extraArray | keyvalue" class="extra-item">
        <input [checked]="item.value" type="checkbox" (change)="changeChoice(item.key)">
        <label>{{ nameArray.get(item.key) }}</label>
      </div>
    </div>
    <br>
    <input type="button" (click)="addToCart()" value="Kosárba" class="add-to-cart-button">
    <p *ngIf="alreadyExists" class="error-message">Ilyen már van a kosárban!</p>
  </div>