
<h2>Elérhető rendelések</h2>
<div *ngIf="unassignedOrders.length > 0; else noUnassignedOrders">
  <div *ngFor="let order of unassignedOrders" class="order">
    <p>Dátum: {{ order.datum }}</p>
    <p>Végösszeg: {{ order.osszar }} Ft</p>
    <p>Étterem címe: {{ order.etterem_cim }}</p>
    <p>Név: {{ order.felhasznalonev }}</p>
    <p>Lakcím: {{ order.lakcim }}</p>
    <button (click)="assignOrder(order.id)">Rendelés felvétele</button>
  </div>
</div>

<ng-template #noUnassignedOrders>
  <p>Nincsenek elérhető rendelések.</p>
</ng-template>
