<div class="product-list">
    <table>
      <thead>
        <tr>
          <th>Cím</th>
          <th>Ár</th>
          <th>Módosított ár</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products">
          <td>{{ item.nev }}</td>
          <td>{{ item.alapar }}</td>
          <td>
            <input
              type="number"
              [(ngModel)]="item.modifiedValue"
              placeholder="New cost"
            />
            <button (click)="modifyCost(item.id, item.modifiedValue)">Modify</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  