<div class="register-container">
  <div class="register-content">
    <div class="register-container-text">
      <h1>Regisztráció</h1>
      <p>A mi ételeink is szárnyakat adnak</p>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
      <div class="register-input-container">
        <div class="register-input-container-withouterror">
          <img src="../../../../assets/images/username-icon.svg" alt="Felhasználónév ikon">
          <input type="text" id="username" formControlName="felhasznalonev" placeholder="Felhasználónév">
        </div>
        <div *ngIf="userForm.controls['felhasznalonev'].invalid && (userForm.controls['felhasznalonev'].touched || userForm.controls['felhasznalonev'].dirty || isFormSubmitted)" class="alert alert-danger">
          <span *ngIf="userForm.controls['felhasznalonev'].errors?.['required'] || userForm.controls['felhasznalonev'].errors?.['name']">Ez a mező kötelező!</span>
        </div>
      </div>
      <div class="register-input-container">
        <div class="register-input-container-withouterror">
          <img src="../../../../assets/images/email-icon.svg" alt="Email ikon">
          <input type="email" id="email" formControlName="email" placeholder="Email">
        </div>
        <div *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].touched || userForm.controls['email'].dirty || isFormSubmitted)" class="alert alert-danger">
          <span *ngIf="userForm.controls['email'].errors?.['required']">Ez a mező kötelező!</span>
          <span *ngIf="!userForm.controls['email'].errors?.['required'] && userForm.controls['email'].errors?.['strictEmail']">Helytelen email!</span>
        </div>
      </div>
      <div class="register-input-container">
        <div class="register-input-container-withouterror">
          <img src="../../../../assets/images/password-icon.svg" alt="Jelszó ikon">
          <input type="password" id="password" formControlName="jelszo" placeholder="Jelszó">
        </div>
        <div *ngIf="userForm.controls['jelszo'].invalid && (userForm.controls['jelszo'].touched || userForm.controls['jelszo'].dirty || isFormSubmitted)" class="alert alert-danger">
          <span *ngIf="userForm.controls['jelszo'].errors?.['required']">Ez a mező kötelező!</span>
          <span *ngIf="!userForm.controls['jelszo'].errors?.['required']&&userForm.controls['jelszo'].errors?.['password']">Túl rövid jelszó!</span>
        </div>
      </div>
      <div class="register-input-container">
        <div class="register-input-container-withouterror">
          <img src="../../../../assets/images/phone-icon.svg" alt="Telefonszám ikon">
          <input type="tel" id="tel" formControlName="tel" placeholder="Telefonszám">
        </div>
        <div *ngIf="userForm.controls['tel'].invalid && (userForm.controls['tel'].touched || userForm.controls['tel'].dirty || isFormSubmitted)" class="alert alert-danger">
          <span *ngIf="userForm.controls['tel'].errors?.['required']">Ez a mező kötelező!</span>
          <span *ngIf="!userForm.controls['tel'].errors?.['required']&&userForm.controls['tel'].errors?.['phone']">Helytelen telefonszám!</span>
        </div>
      </div>
      <div class="register-input-container">
        <div class="register-input-container-withouterror">
          <img src="../../../../assets/images/location-icon.svg" alt="Lakcím ikon">
          <input type="text" id="address" formControlName="lakcim" placeholder="Lakcím">
        </div>
        <div *ngIf="userForm.controls['lakcim'].invalid && (userForm.controls['lakcim'].touched || userForm.controls['lakcim'].dirty || isFormSubmitted)" class="alert alert-danger">
          <span *ngIf="userForm.controls['lakcim'].errors?.['required'] || userForm.controls['lakcim'].errors?.['address']">Ez a mező kötelező!</span>
        </div>
      </div>
      <button type="submit" [disabled]="userForm.invalid">Regisztráció</button>
      <div *ngIf="isFormSubmitted" class="submit-alert">
          <span *ngIf="!SuccessfulRegistration" class="submit-alert-error">A felhasználó már létezik!</span>
          <span *ngIf="SuccessfulRegistration" class="submit-alert-success">Sikeres regisztráció!</span>
      </div>
    </form>

  </div>
  <img class="register-img" src="../../../../assets/images/register-img.png" alt="">
</div>
