<h1>Étterem regisztrálás</h1>

<form [formGroup]="registerRestaurant" (ngSubmit)="onSubmit(registerRestaurant)">
  <div>
    <input type="text" id="username" formControlName="nev" placeholder="Név">
    <div *ngIf="registerRestaurant.controls['nev'].invalid && (registerRestaurant.controls['nev'].touched || registerRestaurant.controls['nev'].dirty || isFormSubmitted)" class="alert alert-danger">
      <span *ngIf="registerRestaurant.controls['nev'].errors?.['required'] || registerRestaurant.controls['nev'].errors?.['name']">Ez a mező kötelező!</span>
    </div>
  </div>
  <div>
    <input type="email" id="email" formControlName="email" placeholder="Email">
    <div *ngIf="registerRestaurant.controls['email'].invalid && (registerRestaurant.controls['email'].touched || registerRestaurant.controls['email'].dirty || isFormSubmitted)" class="alert alert-danger">
      <span *ngIf="registerRestaurant.controls['email'].errors?.['required']">Ez a mező kötelező!</span>
      <span *ngIf="!registerRestaurant.controls['email'].errors?.['required'] && registerRestaurant.controls['email'].errors?.['strictEmail']">Helytelen email!</span>
    </div>
  </div>
  <div>
    <input type="tel" id="tel" formControlName="tel" placeholder="Telefonszám">
    <div *ngIf="registerRestaurant.controls['tel'].invalid && (registerRestaurant.controls['tel'].touched || registerRestaurant.controls['tel'].dirty || isFormSubmitted)" class="alert alert-danger">
      <span *ngIf="registerRestaurant.controls['tel'].errors?.['required']">Ez a mező kötelező!</span>
      <span *ngIf="!registerRestaurant.controls['tel'].errors?.['required']&&registerRestaurant.controls['tel'].errors?.['phone']">Helytelen telefonszám!</span>
    </div>
  </div>
  <div>
    <input type="text" id="address" formControlName="cim" placeholder="Cím">
    <div *ngIf="registerRestaurant.controls['cim'].invalid && (registerRestaurant.controls['cim'].touched || registerRestaurant.controls['cim'].dirty || isFormSubmitted)" class="alert alert-danger">
      <span *ngIf="registerRestaurant.controls['cim'].errors?.['required'] || registerRestaurant.controls['cim'].errors?.['address']">Ez a mező kötelező!</span>
    </div>
  </div>
  <div>
    <input type="password" id="password" formControlName="jelszo" placeholder="Jelszó">
    <div *ngIf="registerRestaurant.controls['jelszo'].invalid && (registerRestaurant.controls['jelszo'].touched || registerRestaurant.controls['jelszo'].dirty || isFormSubmitted)" class="alert alert-danger">
      <span *ngIf="registerRestaurant.controls['jelszo'].errors?.['required']">Ez a mező kötelező!</span>
      <span *ngIf="!registerRestaurant.controls['jelszo'].errors?.['required']&&registerRestaurant.controls['jelszo'].errors?.['password']">Túl rövid jelszó!</span>
    </div>
  </div>
  <div class="file-input-container">
    <input type="file" id="profilePicture" (change)="onFileChange($event)">
    <label for="profilePicture">Profilkép feltöltése</label>
  </div>

  <button type="submit" [disabled]="registerRestaurant.invalid || !!!this.selectedFile">Regisztráció</button>
</form>